jsonschema==4.23.0
jsonschema-specifications==2023.12.1
loguru==0.7.2
pytest>=8.3.3
python-dotenv~=1.0.1
PyYAML~=6.0.2
regex==2024.7.24
reportlab==4.2.2
selenium==4.9.1
webdriver-manager==4.0.2
pytest
pytest-mock
pytest-cov
undetected-chromedriver==3.5.5
beautifulsoup4==4.13.3